# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env

# myTempFiles
temp.json
temp2.json
temp3.json
/components/booking-form/PaymentDetails_1.jsx
/components/booking-form/PaymentDetails-bkp.jsx
/components/booking-form/SelectAlaCarte_bkp.jsx
/components/booking-form/SelectMenuForm-bkp.jsx
/components/booking-form/SelectSetMenu-bkp.jsx
/schema/UpcomingEventSchema_bkp.jsx
/components/booking-form/PaymentDetails_final.jsx
/components/booking-form/SelectAlaCarte_bkp3.jsx
/components/booking-form/SelectMenuForm_bkp2.jsx
/components/booking-form/SelectSetMenu_bkp3.jsx
/components/booking-form/DateForm_bkp.jsx