.lovefools-body {
  .common-divider {
    margin: 16px auto;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;

    @include xs {
      justify-content: start;
      margin-top: 20px;
    }

    a,
    svg {
      margin-left: 16px;
      white-space: nowrap;
      font-weight: 600;
      color: $black;
      cursor: pointer;

      @include xs {
        margin-left: 0;
        margin-right: 16px;
      }

      &:hover,
      &.active {
        color: $red;
      }
    }
  }

  .activeBorder4 {
    border: 2px solid $red !important;
  }

  .color-red {
    color: $red !important;
  }

  .common-header {
    .common-nav {
      background: rgba(1, 1, 1, 0.43);

      .logo-img {
        @include xs {
          position: relative;
          top: 10px;
        }
      }

      .MuiToolbar-regular {
        justify-content: space-between;

        @include tabdesktop() {
          height: 100px;
        }
      }
    }

    .common-nav-inner {
      margin-left: 60px;

      @include md {
        display: none;
      }

      @include sm {
        display: none;
      }

      @include xs {
        display: none;
      }

      button {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.02em;

        color: $white;
        margin-left: 10px;

        p,
        a {
          color: $white;
          margin-bottom: 0;
          font-size: 14px;
          line-height: normal;
        }
      }
    }

    .mobile-menu-btn {
      color: $white;

      svg {
        fill: $white;
      }

      @include lg() {
        display: none;
      }
    }
  }

  .common-header-drawer {
    .common-header-inner {
      max-width: 300px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      img {
        max-width: 250px;
        padding-right: 30px;
      }
    }
  }

  .about-img-wrap {
    width: 660px;
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include xs {
      scale: 0.5;
      transform-origin: 0 center;
      width: 660px;
      position: relative;
      height: 400px;
      top: -10px;
    }

    .about-img-base {
      position: relative;
      z-index: 5;
      top: 5px;

      @include xs {
        top: 55px;
      }
    }

    .about-abs {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      animation-name: floating-ani;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }

    .about-img1 {
      top: 80px;
      left: 60px;
      animation-delay: 1.2s;
    }

    .about-img2 {
      top: 60px;
      left: 490px;
      animation-delay: 0.3s;
    }

    .about-img3 {
      top: 430px;
      left: 60px;
      animation-delay: 1.4s;
    }

    .about-img4 {
      top: 400px;
      left: 500px;
      animation-delay: 0.5s;
    }
  }

  .about-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 15px;
    padding: 0;
    background: $white;

    .info-wrap {
      padding-top: 80px;

      @include xs {
        padding-top: 60px;
      }
    }
  }

  .events-section {
    background-color: $bg-page;

    .center-line span {
      background-color: $bg-page;
    }
  }

  .event-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    //Maxwidthforlargerscreensborder: 2px solid #000;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    //Convertedshadowpadding: 14px;
    //Spacinginsidethemodalbackground-color: $white;
    background-color: $white;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    @media (max-width: 600px) {
      width: 87%; // Adjust for smaller screens
      padding: 8px; // Optional: allow height to adjust on small screens
      height: 90vh;
      overflow: auto;
    }

    .close-icon {
      position: absolute;
      right: 15px;
      border: 1px solid $black;
      border-radius: 50%;
      padding: 1px;
      background: #f3eeee;
    }

    .event-img-box {
      padding: 5px;

      img {
        border-radius: 8px;
      }

      .event-body {
        h3 {
          font-family: "Inter", sans-serif !important;
          font-weight: 600;
          color: $black;
        }
      }

      .d-flex-time {
        position: absolute;
        bottom: 16px;
      }
    }
  }

  .event-card {
    height: 100%;
    background: $white;
    border-radius: 30px;
    overflow: hidden;
    padding: 16px;
    position: relative;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    img.gallay-icon-img {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 9;
    }

    .event-img {
      @extend .st;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
    }

    .event-body {
      padding: 24px 5px 0;

      .common-heading-h3 {
        opacity: 1;
        font-weight: 600;
      }

      .common-heading-h5 {
        opacity: 1;
      }
    }

    .p14 {
      font-weight: 500;
    }
  }

  .gallary-card-w {
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
    }

    .play-icon-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
      z-index: 5;
      background: rgba(255, 255, 255, 0.7);
      min-width: inherit;
      margin-top: -20px;
    }
  }

  .gallery-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; // Adjust the width for responsiveness
    max-width: 800px; // Max width for larger screens
    border: 2px solid #000;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1); // Converted shadow
    padding: 2px; // Spacing inside the modal
    outline: none;
    height: 70%;
    border-radius: 2px;

    @media (max-width: 600px) {
      width: 95%; // Adjust for smaller screens
      padding: 8px; // Optional: allow height to adjust on small screens
      height: 40%;
    }
  }

  .gallery-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px; // Max width for larger screens
    border: 2px solid #000;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1); // Converted shadow
    padding: 2px; // Spacing inside the modal
    background-color: $white;
    outline: none;
    border-radius: 2px;

    @media (max-width: 600px) {
      width: 87%; // Adjust for smaller screens
      padding: 8px; // Optional: allow height to adjust on small screens
      // min-height:50%;
    }
  }

  .gallery-section {
    position: relative;
    background-color: $white;

    .MuiContainer-root {
      position: relative;
      z-index: 5;
    }

    &::after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: auto;
      width: 300px;
      background-color: $bg-page;
      z-index: 2;
      position: absolute;

      @include sm {
        display: none;
      }

      @include xs {
        display: none;
      }
    }
  }

  .testimonial-section {
    background: #d4ba97;

    @include xs {
      .info-wrap {
        margin: 0 auto 20px;
      }
    }

    .center-line span {
      background-color: $bg-page;
    }
  }

  .testimonial-card {
    position: relative;
    max-width: 360px;
    height: 300px;
    background: $bg-black;
    padding: 30px;
    border-radius: 50px;
    text-align: center;
    margin-top: 80px;

    .p16 {
      color: $white;
      margin-top: 20px;
    }

    img {
      margin: auto;
    }

    .testimonial-img {
      position: relative;
      text-align: center;
      margin-top: -90px;
      margin-bottom: 30px;

      img {
        margin: auto;
      }
    }
  }

  .home-banner-section {
    position: relative;

    // max-height: 80vh;
    // padding-top: 30px;
    .carousel .slide img {
      @include xs {
        height: 100%;
        object-fit: cover;
      }
    }

    .carousel.carousel-slider,
    .slide,
    .slide>div {
      @include xs {
        height: 80vh;
      }
    }

    .common-heading-h1 {
      position: absolute;
      top: 50%;
      z-index: 3;
      left: 50%;
      transform: translate(-50%);
      -webkit-transform: translate(-50%);
      -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
      width: 100%;
      margin-top: -50px;
      color: $white;

      span {
        color: $white;
      }
    }
  }

  .contact-us-section {
    background: $bg-l-white;

    &:after {
      content: "";
      top: 0;
      left: auto;
      bottom: 0;
      right: 0;
      width: 300px;

      z-index: 2;
      position: absolute;

      @include sm {
        display: none;
      }

      @include xs {
        display: none;
      }
    }

    .google-map {
      iframe {
        width: 100%;
        min-height: 583px;
        border: 3px solid $bg-page;
        border-radius: 25px;

        @include xs {
          min-height: 350px;
        }
      }
    }

    .contact-form {
      margin-left: 30px;
      width: 100%;
      min-height: 583px;
      background: $bg-black;
      border-radius: 25px;
      padding: 30px;

      @include sm {
        margin-left: 0;
        margin-bottom: 30px;
      }

      @include xs {
        margin-left: 0;
        margin-bottom: 30px;
      }

      .common-heading-h3 {
        font-weight: 500;
        color: $white;
      }
    }

    .contact-us-container {
      position: relative;
      z-index: 5;
    }

    .center-line span {
      background: $bg-l-white;
    }
  }

  .google-map-col {
    @include sm {
      order: 1;
    }

    @include xs {
      order: 1;
    }
  }

  .common-footer {
    background-color: $bg-page;
    padding: 47px 0;
  }
}

.booking-banner-section {
  // background-image: url("../assets/images/booking-bg.png"); // Path to the image file
  // background-color: #000000e5 !important;
  background-color: #D4BA97 !important;
  background-size: cover;
  background-position: center;
  height: auto; // Adjust this as per your requirement
  width: 100%; // Full width
}

.btn-booking {
  color: #fff !important;
  border-radius: 20px;
}

.relative.px-3.gap-3.inline-flex.flex-row.items-center.cursor-text.tap-highlight-transparent.shadow-sm.border-medium.border-default-200.hover\:border-default-400.focus-within\:border-default-foreground.focus-within\:hover\:border-default-foreground.group-data-\[invalid\=true\]\:border-danger.group-data-\[invalid\=true\]\:hover\:border-danger.group-data-\[invalid\=true\]\:focus-within\:hover\:border-danger.h-10.min-h-10.rounded-medium.w-full {
  // height: 45px !important;
  background-color: $white !important;
}

.relative.w-full.inline-flex.tap-highlight-transparent.flex-row.items-center.shadow-sm.px-3.gap-3.border-medium.border-default-200.data-\[hover\=true\]\:border-default-400.group-data-\[focus\=true\]\:border-default-foreground.h-10.min-h-10.rounded-small.transition-background.\!duration-150.transition-colors.motion-reduce\:transition-none {
  // height: 45px !important;
  background-color: $white !important;
}

.absolute.z-50.block.pt-2.top-10.bg-white-800 {
  background: $white !important;
}

.text-danger {
  color: red !important;
  background: transparent;
  border-radius: 10px;
  padding: 5px;
}

.booking-form {
  @include md {
    margin-top: 10px;
  }
}

.menuBox {
  margin: 2px 10px 2px 8px;
  padding: 0;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px RGBA(0, 0, 0, 0.3);
  border: 4px solid #FFF;
}

.paymentDetails {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  margin-bottom: 30px;
}

// .group[data-filled-within="true"] .group-data-\[filled-within\=true\]\:text-foreground {
//   --tw-text-opacity: 1;
//   color: #fff !important;
// }

label.text-small {
  color: #fff !important;
}

.upcoming-form .upcoming-form-field.upcoming-form-date label,
.upcoming-form .upcoming-form-field.upcoming-form-time label {
  color: inherit !important;
  display: block;
}

.upcoming-form .upcoming-form-field {
  > div {
    margin-top: 0;
  }
  label {
    display: none;
  }
  .relative.group-data-[has-helper=true] {
    padding: 0;
    .text-tiny {
      padding: 0;
    }
  }
}

.upcoming-form .upcoming-form-field.upcoming-form-time .rounded-medium {
  height: 41px !important; 
  border-radius: 8px;
}

input::placeholder, textarea::placeholder {
	opacity: 1;
	color: #9ca3af;
}

.upcoming-form .upcoming-form-field.upcoming-form-dd #react-select-2-placeholder,
.upcoming-form .upcoming-form-field.upcoming-form-dd div {
  color: #717171;
  opacity: 1;
}

.upcoming-form .upcoming-form-field.upcoming-form-dd svg path {
  color: #717171;
}

.upcoming-form .upcoming-form-field.upcoming-form-dd {
  .custom-react-select__menu {
    .custom-react-select__menu-list {
      .custom-react-select__option {
        &.custom-react-select__option--is-selected {
          color: #ffffff ;
          background-color: #ed1c24;
        }
      }
    }
  }
}

.menuStyle {
  background: #808080a3 !important;
}

.menuStyleBg {
  background: #D9C4A9;
  border: 2px solid transparent;
  padding: 5px 8px;
}

.grid-menustyle {
  padding: 5px;
  border-radius: 5px;
}

.menuStyleBg:hover {
  background: #808080a3;
}

.carousal-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Ensures image covers the container */
}

.note-text {
  color: #fff !important;
}

.gallary-thumbnail {
  height: 270px;
}

// ----------------------------------

.lovefools-body {
  .home-banner-section {
    .slider .slide> {

      div,
      div img.carousal-image {
        height: 100% !important;
        overflow: inherit;
      }
    }
  }

  .about-section .info-wrap {
    padding-top: 80px;
    padding-right: 70px;

    @include xs {
      padding-right: 0;
    }
  }

  .event-card .event-img {
    height: 224px;
    object-fit: cover;
  }

  .testimonial-card .testimonial-img img {
    margin: auto;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 100px;
    height: 100px;
    background: #fff;
  }

  .gallary-card-w img {
    width: 100%;
    width: 270px;
    height: 270px;
    object-fit: cover;
  }

  @include xs {
    .about-img-wrap {
      scale: 1;
      transform-origin: 0 center;
      width: 100%;
      position: relative;
      height: inherit;
      top: 0;
      margin-top: 50px;

      .about-img-base {
        top: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }

    .gallary-card-w img {
      width: 100%;
      width: 160px;
      height: 160px;
      object-fit: cover;
    }
  }

  .booking-banner-section {
    .MuiContainer-root {
      padding-bottom: 50px;
      min-height: 40vh;

      .container {
        .flex.justify-center.space-x-4 {
          margin-top: 20px;
        }
      }
    }
  }

  .table-graphic {
    margin-bottom: 10px;

    .table-img {
      height: 100px;
    }
  }

  .grid-menu-list {
    margin-top: 15px;

    >.MuiBox-root {
      min-width: 80px;
    }
  }

  .bg-color {
    background-color: $bg-page !important;
  }

  .backdrop-modal>div.MuiModal-backdrop {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .flex.w-screen.fixed.inset-0.z-50.overflow-x-auto.justify-center.h-\[--visual-viewport-height\].items-end.sm\:items-center.\[--scale-enter\:100\%\].\[--scale-exit\:100\%\].\[--slide-enter\:0px\].\[--slide-exit\:80px\].sm\:\[--scale-enter\:100\%\].sm\:\[--scale-exit\:103\%\].sm\:\[--slide-enter\:0px\].sm\:\[--slide-exit\:0px\] {
    z-index: 9999 !important;
  }

  .gallery-thumbnail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Ensure image fits within the box */
  }

  .bg-color {
    background-color: $bg-page;
  }

  .home-banner-section .carousel-root {
    position: relative;
    background: #000;

    .banner-overlay {
      background: #000;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 0.3;
      pointer-events: none;
    }

    h2 {
      z-index: 6;
    }

    .carousel .slide {
      max-height: 90vh;
      position: relative;
      background: #000;

      img {
        width: 100%;
        vertical-align: top;
        border: 0;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .info-box {
    margin-bottom: 30px;

    .common-heading-h3 {
      margin-bottom: 15px;
      font-weight: 600;
    }

    ul {
      list-style: disc;

      li {
        list-style: disc;
        margin-left: 40px;
      }
    }
  }

  .btn-submit {
    text-transform: capitalize;
    border-radius: 50px;
    background: #ed1c24;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    min-width: 133px;
    font-size: 16px;
    color: #ffffff !important;
    &.btn-pay {
      background-color: #399e5a;
    }
  }

  .tc-section {
    position: relative;
    overflow: hidden;
    padding: 60px 15px;
    background: #fff;
  }

  .tc-inner-card {
    max-width: 1000px;
    margin: auto;
  }

  .btn-submit span {
    color: #ffffff !important;
  }

  .custom-stack {
    @include xs {
      scale: 0.9;
      transform-origin: center;
    }
  }
  .adj-input-box-outer form{
    @include xs{
      width: 100%;
    }
  }
  .common-header-drawer .book-tbl-btn{
    text-transform: capitalize;
    border-radius: 50px;
    background: #ed1c24;
    letter-spacing: .2rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    height: 50px;
    min-width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
  }
  .common-header-drawer .book-tbl-btn span{
    color: #fff;
  }
}

.noteTxt {
  font-size: 14px;
  font-weight: 400 !important;
  color: #FFFFFF !important;
  b {
    font-weight: 500 !important;
    color: inherit !important;
  }
}

.custom-stepper .MuiStepper-root .MuiStepLabel-alternativeLabel .MuiStepLabel-iconContainer {
  svg {
    font-size: 1.6rem;
    path {
      color: #FFFFFF;
      font-size: 1em;
    }
  }
} 

.custom-stepper .MuiStepper-root .Mui-disabled .MuiStepLabel-iconContainer svg path {
  color: #222222;
}

.custom-stepper label.text-small {
  color: #222222 !important;
}
.mobile-verification .mobile-verification-mobile label {
  color: #222222 !important;
}

.next-prev-bttn button.btn-booking {
  min-width: 133px;
}

.next-prev-bttn button.bg-transparent.btn-booking {
  color: red !important;
  background-color: #FFFFFF !important;
}

.menu-select-icons {
  margin-bottom: 40px;
  .menu-select-icon {
    display: flex;
    width: 160px;
    height: 120px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 3px solid #CCCCCC;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    svg {
      height: 36px;
      min-width: 36px;
      width: auto;
    }
    &.active {
      border-color: #ED1C24;
      em {
        color: #ED1C24;
      }
    }
    em {
      font-family: Inter, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 20px;
      line-height: 150%;
      color: #999999;
    }
  }
}

.submenu-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px 0 20px;
  .submenu-item {
    flex: 0;
    min-width: 94px;
    font: normal normal 500 18px/150% "Inter, sans-serif";
    color: #222222;
    text-align: center;
    &.active {
      // font-weight: 600;
      color: #ED1C24;
    }
  }
}

.note-p {
  display: block;
  font: normal normal 500 15px/150% "Inter, sans-serif" !important;
  color: #222222 !important;
  text-align: center;
  margin-bottom: 30px !important;
}


.alacartmenu-modal {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0; 
  height: 100vh;
  width: 100vw;
  .alacartmenu-modal-wrap {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 1020px;
    max-height: 90vh;
    max-width: 80vw;
    padding: 20px 30px;
    border-radius: 10px;
    .modal-close-icon {
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      svg {
        font-size: 2.6rem;
      }
    }
    .alacartmenu-modal-body {
      height: 100%;
      .alacartmenu-modal-ttl {
        font: normal normal 600 20px/150% "Inter, sans-serif";
        color: #222222;
        text-align: center;
        text-decoration: underline;
      }
      .alacartmenu-modal-desc { 
        font: normal normal 500 16px/150% "Inter, sans-serif";
        color: #222222;
        text-align: center;
        margin: 0;
      }
      .alacartmenu-menuimg-wrap {
        height: calc(100% - 50px);
        overflow-y: auto;
        img {
          display: block;
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

.price-bttn {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.5px;
  height: 36px;
  width: 72px;
  background-color: #e6e6e6;
  &.active {
    background-color: #ED1C24;
    color: #FFFFFF;
  }
}

.price-pill {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  height: auto;
  width: auto;
  background-color: #ED1C24;
  color: #FFFFFF;
  padding: 1px 10px;
  border-radius: 4px;
}


.payment-details-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  column-gap: 80px;
  padding: 30px 0 50px;
  .payment-details-img-block {
    flex: 0;
    .payment-details-img-wrap {
      position: relative;
      display: block;
      width: 320px;
      height: 320px;
      background-color: #F4F4F4;
      border: 4px solid #F4F4F4;
      border-radius: 8px;
      overflow: hidden;
      .payment-details-img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .payment-selected-menu {
    font: normal normal 500 22px/150% "Inter, sans-serif";
    color: #222222;
    font-weight: 600;
    text-align: center;
    margin: 20px 0;
    > em {
      font: inherit;
      font-style: normal;
      color: inherit;
    }
  }
  .payment-details-block {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    row-gap: 44px;
    padding-top: 0;
    .payment-details-block-items {
      min-width: calc(33% - 30px);
      align-self: flex-start;
      &.last-item {
        min-width: 100%;
        align-self: center;
        .payment-item {
          display: block;
          border: 2px solid #ED1C24;
          background-color: transparent;
          border-radius: 8px;
          padding: 4px 12px;
          margin: 0 0 20px;
          width: 111px;
          .payment-details-block-ttl {
            text-align: center;
            margin-bottom: 0;
            color: #ED1C24;
            margin-bottom: 6px;
          }
          .payment-details-block-value {
            text-align: center;
            color: #ED1C24;
            font-weight: 600;
          }
        }
      }
      .payment-details-block-ttl {
        font: normal normal 600 20px/150% "Inter, sans-serif";
        color: #222222;
        text-align: left;
        margin: 0 0 6px;
      }
      .payment-details-block-value {
        font: normal normal 500 18px/150% "Inter, sans-serif";
        color: #222222;
        text-align: left;
        margin: 0;
      }
    }
  }
}

.lovefools-body {
  .rooms-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    .table-graphic {
      display: block;
      margin: 0;
      padding: 8px;
      min-width: 110px;
      max-width: 33%;
      .table-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
      }
    }
  }
}

.ala-carte-grid-items {
  margin-bottom: 50px;
  .event-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    .box-item-grid {
      flex: 0 0 calc(33% - 30px);
    }
    .event-card.alacart-item-grid {
      display: flex;
      flex-direction: column;
      .alacart-item-img {
        position: relative;
        display: block;
        width: 100%;
        height: 250px;
        border-radius: 12px;
        margin-bottom: 20px;
        overflow: hidden;
        .event-img {
          position: absolute;
          top: 20px;
          left: -10px;
          object-fit: fill;
          border-radius: 0;
          &.event-img-setmenu {
            position: static;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .event-body {
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        .d-flex-time {
          flex-direction: column;
          p {
            flex: 1;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            text-align: left;
            align-self: flex-start;
          }
        }
        .common-heading-h3 {
        }
        .read-more-btn {
          flex: 0;
          min-width: 120px;
          font-size: 1rem;
          letter-spacing: 1px;
          text-transform: capitalize;
          background-color: #e6e6e6;
          margin-top: 12px;
        }
        .price-bttn {
          min-width: 120px;
          width: auto;
          font-size: 1.1rem;
          margin-top: 12px;
        }
      }
    }
  }
}

.hide-desktop {
  display: none;
}

.custom-react-select__control {
  border-radius: 8px !important;
}


@media (max-width: 1199px) {

  .payment-details-wrap {
    column-gap: 80px;
    padding: 20px 0 30px;
    .payment-selected-menu {
      font-size: 18px;
      line-height: 120%;
    }
    .payment-details-img-block {
      .payment-details-img-wrap {
        width: 300px;
        height: 280px;
      }
    }
    .payment-details-block {
      .payment-details-block-items {
        min-width: calc(50% - 10px);
        .payment-details-block-ttl {
          font-size: 18px;
          line-height: 120%;
        }
        .payment-details-block-value {
          font-size: 16px;
          line-height: 120%;
        }
      }
    }
  }
  
}

@media (max-width: 976px) {

  .payment-details-wrap {
    flex-direction: column;
    .payment-details-img-block {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      .payment-details-img-wrap {
        text-align: center;
        display: block;
        margin: 0 auto;
      }
    }
    .payment-details-block {
      .payment-details-block-items {
        min-width: calc(33% - 10px);
        &.last-item {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .price-pill {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.5px;
    height: auto;
    width: auto;
    background-color: transparent;
    color: #222222;
    padding: 1px 4px;
    border-radius: 4px;
  }

}

@media (max-width: 767px) {

  .lovefools-body .custom-stepper {
    margin-top: 40px;
  }

  .payment-details-wrap {
    padding: 0 0 20px;
    .payment-selected-menu {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
    }
    .payment-details-img-block {
      .payment-details-img-wrap {
        width: 280px;
        height: 240px;
      }
    }
    .payment-details-block {
      row-gap: 36px;
      .payment-details-block-items {
        min-width: 100%;
        max-width: 100%;
        &.last-item {
          display: flex;
          justify-content: center;
        }
        .payment-details-block-ttl {
          font-size: 16px;
        }
        .payment-details-block-value {
          font-size: 16px;
        }
      }
    }
  }

  .submenu-wrapper {
    .submenu-item {
      font-size: 14px;
      line-height: 1.2;
      min-width: unset;
      margin-bottom: 0;
      padding: 4px 6px;
      font-weight: 600;
      letter-spacing: 1px;
      &.active {
        text-decoration: underline;
      }
    }
  }

}

@media (max-width:575px) {

  .hide-desktop {
    display: block;
  }

  .custom-stepper {
    .MuiStepper-root {
      .MuiStepLabel-alternativeLabel {
        .MuiStepLabel-iconContainer {
          .booking-step-icon {
            height: 36px;
            width: 36px;  
            svg {
              font-size: 1.2rem;
            }
          }
        }
      }
      .MuiStepConnector-root {
        top: 17px;
      }
    }
  }

  .next-prev-bttn button.btn-booking {
    min-width: 111px;
  }
  .btn-disabled.next-prev-bttn button.btn-booking {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
  }
  .lovefools-body {
    .rooms-grid {
      padding-top: 20px;
      gap: 10px;
      .table-graphic {  
        padding: 4px;
        min-width: 100px;
        max-width: 104px;
        max-height: 104px;
        .table-img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .booking-form .mobile-width {
    max-width: 96%;
  }

  .menu-select-icons {
    margin-bottom: 32px;
    .menu-select-icon {
      width: 110px;
      height: 90px;
      border-width: 2px;
      svg {
        height: 30px;
        min-width: 30px;
      }
      em {
        font-size: 16px;
      }
    }
  }

  .ala-carte-grid-items {
    margin-bottom: 20px;
    .event-grid {
      display: block;
      width: 100%;
      .box-item-grid {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
      .event-card.alacart-item-grid {
        padding: 8px 15px;
        border-radius: 12px;
        .alacart-item-img {
          height: 160px;
          margin-bottom: 20px;
          margin-top: 8px;
          .event-img {
            object-fit: cover;
            position: absolute;
            border-radius: 4px;
            top: 0;
            left: 0;
            right: auto;
            height: auto;
          }
        }
        .event-body {
          .d-flex-time {
            flex-wrap: wrap;
            flex-direction: column;
          }
          .common-heading-h3 {
            font-size: 16px;
            line-height: 1;
          }
          p {
            width: 100%;
            font-size: 14px;
            margin-bottom: 12px;
          }
          .read-more-btn {
            font-size: 12px;
            line-height: 17px;
            letter-spacing: 1.2px;
            color: #FFFFFF;
            background-color: #ed1c24;
            margin: 5px 0 8px;
          }
        }
      }
    }
  }

  .alacartmenu-modal {
    // height: 80vh;
    .alacartmenu-modal-wrap {
      padding: 10px 0;
      max-height: unset;
      height: auto;
      .modal-close-icon {
        svg {
          font-size: 1.6rem;
        }
      }
      .alacartmenu-modal-body {
        .alacartmenu-menuimg-wrap {
          padding-top: 20px;
          img {
          }
        }
      }
    }
  }

  .note-p {
    font-size: 12px;
    margin-bottom: 12px !important;
  }

  .mobile-verification .mobile-verification-email {
    margin-bottom: 10px;
  }

  .payment-details-wrap {
    .payment-details-img-block {
      background-color: #fff;
      border-radius: 8px;
      padding: 10px 8px;
      .payment-details-img-wrap {
        width: 100%;
        height: 160px;
        .payment-details-img {
          object-fit: cover;
        }
      }
    }
    .payment-selected-menu {
      font-size: 14px;
      margin: 10px 0;
    }
    .payment-details-block {
      row-gap: 6px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.5) 30%,
        rgba(255, 255, 255, 0.1) 100%
      );
      border-radius: 8px;
      padding: 20px 0 8px;
      margin-bottom: 10px;
      .payment-details-block-items {
        padding: 3px 8px 3px 13px;
        min-height: 36px;
        // &:nth-child(2n + 1) {
        //   border-right: 2px solid #0000002b;
        // }
        &:nth-last-child(2):nth-child(odd) {
          flex: 0 0 100%;
          min-width: 100%;
          max-width: 100%;
          border: 0;
          .payment-details-block-ttl,
          .payment-details-block-value {
            text-align: center;
            border: 0;
          }
        }
        &.last-item {
          .payment-details-block-value {
            border-bottom: 0;
            padding-bottom: 3px;
            font-size: 18px;
          }
        }
        .payment-details-block-ttl {
          font-size: 14px;
        }
        .payment-details-block-value {
          font-size: 14px;
          border-bottom: 1px solid #0000002b;
          padding-bottom: 12px;
        }
      }
    }
  }


}



.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ed1c24;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

.loader-text {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.date-custom {
  margin-bottom: 0;
  .flex-col {
    .flex-row {
      height: 44px;
      border-radius: 8px;
    }
  }
  .mb-3 {
    margin-bottom: 0;
    margin-top: 3px;
  }
}

